body {
    font-family: 'Poppins';

    margin: 0;
    background-image: url(../img/portada.jpg);
    background-size: cover;
  }

.ocultar-div{
    display:none;
}
menu{
    display: none;
    flex-direction: row;
    display: block;
  }
  .secciones {
    text-decoration: none;
    list-style: none;
    color: black;
    padding: 10px;
    margin: 10px 0;
    font-weight: 400;
    border-radius: 20px;
}

.secciones:hover {
    background-color: rgb(34, 117, 150);
    transition: 300ms;
}

.secciones:active {
    background-color: rgb(34, 117, 150);
    color: rgb(34, 117, 150);
}
  .titulo {
    box-shadow: 3px 3px 3px rgb(74, 74, 74);
    text-align: center;
    width: 100%;
    margin: 0;
    background-color: rgb(159, 208, 223);
    cursor: default;
    position: relative;
    height: auto;
    min-height: 60px;}

.lista {
        display: flex;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 0;
        gap: 10px;
    }

  footer {
    background-color: rgb(141, 206, 226);
    width: 100%;
    padding: 20px 0px;
    align-items: center;
    display: flex;
    justify-content: center;
}

  main {
    margin: 0 auto;
    padding: 4rem 0;
    width: 90%;
    max-width: 60rem;
  }
  
  form {
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    border: 4px solid hsl(0, 0%, 90%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  
  .full-width {
    grid-column: span 2;
  }
  .contacto {
    text-decoration: none;
    list-style: none;
    color: rgb(34, 117, 150)k;
    font-weight: 500;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    background-color:rgb(34, 117, 150);
    color: white;
}